
<!-- <button (click)="getOverview()">test</button> -->


<mat-card color="primary">
<form id='submit-mat-card'>
<label></label>
<input placeholder= "Name eingeben" type="text" name="name" [(ngModel)]="name" >
<input type="submit" name="submit" (click)="createList(name)">
</form>
</mat-card>

<mat-card>
  <mat-selection-list #onelist [multiple]="false">
    <h1 id="header-mat-card">To Do List</h1>
    <div style=" justify-content:space-between;align-items:center;">
    <mat-list-option  class="mat-list-option"  name="selectedList"  *ngFor="let todoList of list"  [value]="todoList"   (click)="assignSelected(todoList)"> {{todoList.name}}
     <!-- <button mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button>  -->
  
    </mat-list-option> </div>
  </mat-selection-list>
  </mat-card>


<!--mat-card  color="primary">
<h1 id="header-mat-card">To Do List</h1>
<mat-selection-list  role="list" class="listselector">
    <mat-list-option  class="mat-list-option" class="mat-primary" name="selectedList"  *ngFor="let todoList of list"  [value]="todoList"   (click)="assignSelected(todoList)"  >  {{todoList.name}}  </mat-list-option>
  </mat-selection-list>
  
</mat-card-->

<app-list-elements [currentList]="selectedList">
    

    


</app-list-elements>