mat-card{
    background-color: #673AB7;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 10px;
    margin-bottom: 1vh;

}

.mat-list-option {

    color: white;
    font-size: 14px;
    padding-top: 10px;

}

mat-list-option:hover{

    background-color: white;
    color: black;
    font-size: 20px;

}

h1{
    font-size: 30px;
    color: white;
    text-align: center;
    font-weight: 600;


}

#submit-mat-card {
    color: white;
    text-align: center;

}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

input[type=submit]{

    width: 30%;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 24px;


}

input[type=submit]:hover{
    background-color: #b7b7b7;
    color: white;
}