<p>list-overview works!</p>


<p>list-overview works!</p>


<button (click)="getOverview()">test</button>


<mat-card color="primary">
<form id='submit-mat-card'>
<label></label>
<input placeholder= "Name eingeben" type="text" name="name" [(ngModel)]="name" >
<input type="submit" name="submit" (click)="createList(name)">
</form>
</mat-card>

<mat-card>
  <mat-selection-list>
    <h1 id="header-mat-card">To Do List</h1>
    <mat-list-option  class="mat-list-option" class="mat-primary" name="selectedList"  *ngFor="let todoList of list"  [value]="todoList"   (click)="assignSelected(todoList)"> {{todoList.name}}
      <div style="display:flex; justify-content:space-between;align-items:center">
        <div>
          <div>
  
            <div style="margin-top:-30px">
              <p matLine>
              </p>
            </div>
          </div>
        </div>
        <div>
          <button mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </mat-list-option>
  </mat-selection-list>
  </mat-card>

<!--mat-card  color="primary">
<h1 id="header-mat-card">To Do List</h1>
<mat-selection-list  role="list" class="listselector">
    <mat-list-option  class="mat-list-option" class="mat-primary" name="selectedList"  *ngFor="let todoList of list"  [value]="todoList"   (click)="assignSelected(todoList)"  >  {{todoList.name}}  </mat-list-option>
  </mat-selection-list>
  
</mat-card-->

<app-list-elements [currentList]="selectedList">
    

    


</app-list-elements>