<p>list-overview works!</p>


<button (click)="getOverview()">test</button>

<form>
<label>Name der Liste</label>
<input type="text" name="name" [(ngModel)]="name" >
<input type="submit" name="submit" (click)="createList(name)">
</form>


<mat-card  color="primary" >
<mat-selection-list   role="list" class="listselector">
    <mat-list-option  name="selectedList"  *ngFor="let todoList of list"  [value]="todoList"   (click)="assignSelected(todoList)"  >  {{todoList.name}} 
        
    </mat-list-option>
   
  </mat-selection-list>
  
</mat-card>

<app-list-elements [currentList]="selectedList">
    


</app-list-elements>