mat-card{
    background-color: #3F51B5;
    margin-left: 25%;
    margin-right: 25%;
    color: white;
}

mat-list-option{
    color: white;
}

.tonne:hover{
  color:red;
  background-color: black;
}
