



 <!--<p  *ngFor="let task of testelements.alltasks"    > {{task.taskname}}</p>-->

 <mat-card *ngIf="currentList">
    <mat-selection-list>
      <h1 id="header-mat-card">{{currentList.name}}</h1>
      <mat-list-option  class="mat-list-option" class="mat-primary" name="selectedList" *ngFor="let task of testelements.alltasks" (click)="assignSelected(task)"   [value]="task"  >

        <p>{{task.taskname}}
          </p>

      </mat-list-option>
    </mat-selection-list>
    <button mat-icon-button class="tonne">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card>
<app-list-details
[currentTask]="selectedTask">
</app-list-details>
