
input[type=checkbox]{
    height:40px;
    width: 40px;
    text-align: center;
    margin-left: 95%;
    padding: 5%;
    
}

mat-card-title{
    border-style: solid;
    border: 5px;
    border-color: black;
    
}

.inputfield {
    height: fit-content;
    width: fit-content;
}


mat-card{
    background-color: #3F51B5;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 10px;
    margin-bottom: 1vh;
    font-family: Roboto, "Helvetica Neue", sans-serif;

}

.mat-list-option {

    color: white;
    font-size: 20px;
    padding: 10px;


}

mat-list-option:hover{

    background-color: white;
    color: black;
    font-size: 23px;
    

}


h1{
    font-size: 30px;
    color: white;
    text-align: center;
    font-weight: 600;


}

p{
    color: white;
    font-size: 18px;
    font-family: Roboto, "Helvetica Neue", sans-serif;

}

mat-card-title{
    font-size: 30px;
    color: white;
    text-align: center;
    font-weight: 600;
}

mat-card-actions{
    color: white;
}

#task-write{
    height: 9vh;
    width: 100%;
    font-size: 18px;
    font-family: Roboto, "Helvetica Neue", sans-serif;

}

input[type=submit]{

    width: 30%;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 24px;
    display: block;
    margin: 0 auto;

}

input[type=submit]:hover{
    background-color: #b7b7b7;
    color: white;
}