
<div *ngIf="currentTask">

<mat-card>   
    <mat-card-title>Taskname: {{currentTask.taskname}} 
        <form>
            <input type="checkbox">
        </form>
       
    </mat-card-title>
    <hr>
   
    <mat-card-content>
    <p >
        {{currentTask.taskdescription}} 
     </p>
    
    </mat-card-content>

    <mat-card-actions>
        <button  mat-button  (click)="switchSelect()">UPDATE </button>
        <button mat-button>DELETE</button>
      

    </mat-card-actions>
</mat-card>


<div *ngIf="isSelected"  class="editdetails">

<p>update content </p>

<mat-card >
<form>
    <textarea id="task-write" value="currentText" > {{currentTask.taskdescription}} </textarea>
    <input type="submit" (click)="switchSelect()">
</form>
</mat-card>

</div>


</div>